<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .block{
            margin:10px;
            width:400px;
            position: relative;
            left:500px;
            top:80px;
            background-color: aquamarine;
        }
        body{
            background-color: antiquewhite;
        }
        
    </style>
</head>
<body>
    <div class="block">
        <h2>Request Form</h2>
    <form action="/query" method="POST">
        <label>Username:</label><br>
       <input type="text" name="username"><br>
       <label>Subject: </label><br>
        <input type="text" name="sub"><br>
        <label>Query:</label><br>
        <input type="text" name="discription"><br>
        <input type="submit" value="Send">
    </form>
    </div>
</body>
</html>